<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  {% load static %}
  <meta charset="utf-8">
  <title>MyBlog</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.3.4/tailwind.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
   integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
   crossorigin="anonymous" referrerpolicy="no-referrer" />
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" 
   integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
   <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.0/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<style>


  </style>
<body>
  <div class="top-nav">
    <ul>
      <li><a href="{% url 'home' %}">BLOG</a></li>
      <li><a href="{% url 'about' %}">ABOUT</a></li>
      {% if user.is_authenticated %}  
      <li><a href="{% url 'admin' %}">ADMIN</a></li>
      <li><a href="{% url 'create_topic' %}">CREATE TOPIC</a></li>
      <li><a href="{% url 'create_article' %}">CREATE ARTICLE</a></li>
      <li class="list-inline-item">
        <span class="user-details">Hello, {{ user.username }}!</span>
      </li>
      <li class="list-inline-item">
        <form action="{% url 'logout' %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-secondary">LOGOUT</button>
        </form>
      </li>
      {% endif %}
    </ul>
  </div>
  <header class="header_div">
    <div class="container text-center">
      <h1 class="fw-bolder">Welcome To MyBlog!</h1>
    </div>
  </header>

  <br/>
  {% if messages %} {% for message in messages%}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  {% endfor %} {%endif %}

  {% for topic in topics %}
  <div class="container mx-auto flex flex-wrap items-start">
      <div class="w-full pl-5 lg:pl-2 mb-4 mt-4">
          <table class="table" style="width:100%">
              <thead>
                  <tr>
                      <th scope="col">#</th>
                      <th scope="col">Topic :</th>
                      <th scope="col">{{ topic.topic_name }}</th>
                  </tr>
              </thead>
          </table>
      </div>
      {% for article in topic.articles.all %}
      <div class="w-full md:w-1/2 lg:w-1/4 pl-5 pr-5 mb-5 lg:pl-2 lg:pr-2">
          <a href="{% url 'article' article.id %}">
              <div class="card">
                  <figure class="mb-2">
                      <img src="{{ article.image.url }}" alt="{{ article.title }}" class="h-64 ml-auto mr-auto">
                  </figure>
                  <div class="rounded-lg p-4 bg-purple-700 flex flex-col card-body">
                      <div>
                          <h5 class="text-2xl font-bold aleading-none">{{ article.title }}</h5>
                      </div>
                      <div class="flex items-center">
                          <a href="https://developer.mozilla.org/en-US/docs/Web/HTML">Read more</a>
                          <span>Posted date: {{ article.created_date }}</span>
                      </div>
                  </div>
              </div>
          </a>
      </div>
      {% empty %}
      <li>No articles found.</li>
      {% endfor %}
  </div>
  {% endfor %}
  <br/><br/><br/><br/>
  <!-- Comment Form Section 
  <form class="container mx-auto mb-8 px-4 py-6">
    <input type="text" name="name" placeholder="Enter name" required class="mb-4 p-2 border border-gray-300 rounded">
    <input type="email" name="email" placeholder="Enter email" required class="mb-4 p-2 border border-gray-300 rounded">
    <textarea id="comment" name="comment" rows="5" placeholder="Write comment" required class="mb-4 p-2 border border-gray-300 rounded"></textarea>
    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Comment</button>
  </form>-->
  <br/>
  <footer>
    <div class="footer-content">
      <p>@emmanuel pontsho mobu</p>
      <ul>
        <li><a href="{% url 'home' %}">BLOG</a></li>
        <li><a href="{% url 'about' %}">ABOUT</a></li>
        {% if user.is_authenticated %}  
        <li><a href="{% url 'admin' %}">ADMIN</a></li>
        <li><a href="{% url 'create_topic' %}">CREATE TOPIC</a></li>
        <li><a href="{% url 'create_article' %}">CREATE ARTICLE</a></li>
        {% endif %}
      </ul>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
 <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
