<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  {% load static %}
  <meta charset="utf-8">
  <title>MyBlog</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.3.4/tailwind.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
   integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
   crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<style>
  form {
    background-color: #333;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 100%; /* Full width of container */
    max-width: 400px; /* Set maximum width */
    margin: 0 auto; /* Center align horizontally */
  }
  
  form input,
  form textarea {
    width: calc(100% - 20px); /* Adjusted width for padding */
    padding: 8px;
    margin-bottom: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    color: #333;
    box-sizing: border-box;
  }
  
  form textarea {
    resize: vertical;
  }
  
  form button {
    background-color: #007bff;
    color: white;
    padding: 10px 16px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  form button:hover {
    background-color: #0056b3;
  }
  </style>
<body>
  <div class="top-nav">
    <ul>
      <li><a href="{% url 'home' %}">BLOG</a></li>
      <li><a href="{% url 'about' %}">ABOUT</a></li>
      {% if user.is_authenticated %}  
      <li><a href="{% url 'admin' %}">ADMIN</a></li>
      {% endif %}
    </ul>
  </div>
  <header class="header_div">
    <div class="container text-center">
      <h1 class="fw-bolder">Welcome To MyBlog!</h1>
      <p class="lead mb-0"><strong>"My Career Journey In Web Development"</strong></p>
      <p class="lead mb-0">Below is a list languages/markups is used so far in my web desings</p>
    </div>
  </header>
  <div class="container mx-auto flex flex-wrap items-start">
    <div class="w-full pl-5 lg:pl-2 mb-4 mt-4">
      <h1 class="text-3xl lg:text-4xl text-gray-300 font-extrabold"></h1>
    </div>
    <div class="w-full md:w-1/2 lg:w-1/4 pl-5 pr-5 mb-5 lg:pl-2 lg:pr-2">
      <a href="{% url 'article' %}" ><div class="card">
        <figure class="mb-2">
          <img src="{% static 'images/sta-je-html.jpg' %}" alt="HTML" class="h-64 ml-auto mr-auto" />
        </figure>
        <div class="rounded-lg p-4 bg-purple-700 flex flex-col card-body">
          <div>
            <h5 class="text-2xl font-bold aleading-none">HTML</h5>
          </div>
          <div class="flex items-center">
            <a href="https://developer.mozilla.org/en-US/docs/Web/HTML">Read more</a>
          </div>
        </div>
      </div></a>
    </div>
    <div class="w-full md:w-1/2 lg:w-1/4 pl-5 pr-5 mb-5 lg:pl-2 lg:pr-2">
      <a href="{% url 'article' %}"><div class="card">
        <figure class="mb-2">
          <img src="{% static 'images/css-2.png' %}" alt="CSS" class="h-64 ml-auto mr-auto" />
        </figure>
        <div class="rounded-lg p-4 bg-purple-600 flex flex-col card-body">
          <div>
            <h5 class="text-2xl font-bold leading-none">Cascading Style Sheets</h5>
          </div>
          <div class="flex items-center">
            <a href="https://developer.mozilla.org/en-US/docs/Web/CSS">Read more</a>
          </div>
        </div>
      </div></a>
    </div>
    <div class="w-full md:w-1/2 lg:w-1/4 pl-5 pr-5 mb-5 lg:pl-2 lg:pr-2">
      <a href="{% url 'article' %}"><div class="card">
        <figure class="mb-2">
          <img src="{% static  'images/javascript.webp' %}" alt="JavaScript" class="h-64 ml-auto mr-auto" />
        </figure>
        <div class="rounded-lg p-4 bg-gray-700 flex flex-col card-body">
          <div>
            <h5 class="text-2xl font-bold leading-none">JavaScript</h5>
          </div>
          <div class="flex items-center">
            <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">Read more</a>
          </div>
        </div>
      </div></a>
    </div>
    <div class="w-full md:w-1/2 lg:w-1/4 pl-5 pr-5 mb-5 lg:pl-2 lg:pr-2">
      <a href="{% url 'article' %}">
      <div class="card">
        <figure class="mb-2">
          <img src="{% static 'images/django-logo-big.jpg' %}" alt="Django" class="h-64 ml-auto mr-auto" />
        </figure>
        <div class="rounded-lg p-4 bg-gray-600 flex flex-col card-body">
          <div>
            <h5 class="text-2xl font-bold leading-none">Django</h5>
          </div>
          <div class="flex items-center">
            <a href="https://docs.djangoproject.com/en/5.0/">Read more</a>
          </div>
        </div>
      </div>
    </a>
    </div>
  </div>

  <div class="container_p">
    <p>
      Throughout my journey in web development, I embarked by mastering the foundational languages of HTML and CSS, essential for crafting
      the structure and aesthetics of websites. Subsequently, I integrated JavaScript into my repertoire, augmenting my projects with dynamic
      functionality. These three technologies formed the cornerstone of my frontend development skills.
    </p>
    <br>
    <p>
      Presently, I am immersed in backend development, leveraging the power of Django, a robust Python framework. Django's widespread
      adoption and versatility make it a preferred choice for developers delving into backend intricacies. This evolution in my skill
      set marks a significant stride towards comprehensive web development proficiency.
    </p>
  </div>
  <br/><br/><br/><br/>
  <!-- Updated Form Section -->
  <form class="container mx-auto mb-8 px-4 py-6">
    <input type="text" name="name" placeholder="Enter name" required class="mb-4 p-2 border border-gray-300 rounded">
    <input type="email" name="email" placeholder="Enter email" required class="mb-4 p-2 border border-gray-300 rounded">
    <textarea id="comment" name="comment" rows="5" placeholder="Write comment" required class="mb-4 p-2 border border-gray-300 rounded"></textarea>
    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Comment</button>
  </form>
  <br/>
  <footer>
    <div class="footer-content">
      <p>@emmanuel pontsho mobu</p>
      <ul>
        <li><a href="{% url 'home' %}">BLOG</a></li>
        <li><a href="{% url 'about' %}">ABOUT</a></li>
        {% if user.is_authenticated %}  
        <li><a href="{% url 'admin' %}">ADMIN</a></li>
        {% endif %}
      </ul>
    </div>
  </footer>
  <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
